html {
    box-sizing: border-box;
}

body {
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
    background-image: url("../img/bg/bg.jpg");
    background-size: contain;
    background-color: #fff;
    color: black;
    line-height: 1.5;
    font-weight: 400;
    font-size: 15px;
}

h1, h2, h3, p {
    margin: 0;
}

p {
    margin: 10px 0;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.title {
    color: white;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    padding: 80px 0;
}

.article_navigation {
    margin: 0 auto;
    max-width: 900px;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px;
}


.article {
    margin: 0 auto;
    max-width: 900px;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px;
}

.article_list {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.article_item {
    display: inline-block;
    vertical-align: middle;
    align-items: stretch;
}

.hide {
    display: none;
}

.subtitle {
    margin: 17px 0;
}

.item:not(:nth-last-child(1)) {
    padding-bottom: 10px;
}

.list {
    padding-inline-start: 30px;
}

.item:before {
    content: "—";
    position: relative;
    left: -20px;
}

.block_image {
    display: flex;
    flex-wrap: wrap;
}

.bold {
    font-weight: 700;
}

.image {
    margin-top: 10px;
    border-radius: 10px;
}

.interval-text {
    margin: 0;
}

.subsubtitle {
    margin-bottom: 10px;
    margin-top: 40px;
}

.line-left {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid #6d6b6b;
}

.switch_article_img {
    display: inline-block;
    vertical-align: middle;
}

.monochrome_img {
    filter: grayscale(100%);
}

.font_colored_gray {
    color: lightgray;
}

.switch_article {
    min-width: 200px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid transparent;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    transition: background-color .3s ease-in-out, border-color .2s ease-in-out;
}

.switch_article:hover {
    background-color: #a43be3;
    border-color: yellow;
    color: white;
}

.switch_article_img:hover{
    filter: grayscale(0%);
}

.switch_article:focus {
    background-color: #721988;
    border-color: #B8FF20;
    color: white;
}

.switch_article:active {
    background-color: #da44ff;
}